fastapi
uvicorn
python-dotenv
pinecone
langchain
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-huggingface
llama-parse
firecrawl-py
supabase
python-multipart
sentence-transformers
resend
PyJWT
requests
PyPDF2


google-cloud-texttospeech
google-cloud-speech

